 

<!DOCTYPE html>

<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Login Basic - Pages | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
             
                  
                  <span class="app-brand-text demo text-body fw-bolder">OTP verification</span>
             
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">StepUP</h4>
              <p class="mb-4">Enter your otp correctly</p>

             



              <form action="/verify_forgot_otp" method="post">
                                    

                <div class="form-group">
                    <label for="singin-email-2">Enter OTP You have recieved</label>
                    <input type="number" class="form-control" id="singin-email-2" name="otp" required>
                </div><!-- End .form-group -->
                
                <!-- End .form-group -->
            <% if(typeof err !== 'undefined'){ %>
              <p><%- err %></p>
              <% } %>
            

             

              
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary my-3">
                        <span>SUMBIT</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
            
                </div><!-- End .form-footer -->
            </form>
            <form action="/resend-otp" method="post">
              <div id="timer"></div>
             
            </form>
            
            <script>
              // Set the countdown time in seconds
              var countdown = 20;
            
              // Define the function to update the timer
              function updateTimer() {
                var timerElement = document.getElementById("timer");
                if (countdown > 0) {
                  timerElement.innerHTML = "Resend OTP in " + countdown + " seconds";
                  countdown--;
                  setTimeout(updateTimer, 1000);
                } else {
                  timerElement.innerHTML = "<button type='submit' name='resend-otp'>Resend OTP</button>";
                }
              }
            
              // Call the updateTimer function to start the countdown
              updateTimer();
            </script>
            
            











             
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->


    <script>
      if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
    }
    </script>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>





